.App{
  background-color: cadetblue;
  border-bottom: solid black 1px;
}

.card-body{
  border: solid black 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  padding: 0px;
  float: left;
  display: block;
  background-color: cadetblue;
  overflow-y: scroll;
  height: 500px;
}